/* Dark mode colors. */
:root {
	--sl-color-accent-low: #241f39;
	--sl-color-accent: #6b56b6;
	--sl-color-accent-high: #c8c4e6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f0eaff;
	--sl-color-gray-2: #c5bbe0;
	--sl-color-gray-3: #937dc3;
	--sl-color-gray-4: #5f4a8a;
	--sl-color-gray-5: #402966;
	--sl-color-gray-6: #2e1652;
	--sl-color-black: #1b122d;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d6d3ee;
	--sl-color-accent: #6d58b8;
	--sl-color-accent-high: #332b54;
	--sl-color-white: #1b122d;
	--sl-color-gray-1: #2e1652;
	--sl-color-gray-2: #402966;
	--sl-color-gray-3: #5f4a8a;
	--sl-color-gray-4: #937dc3;
	--sl-color-gray-5: #c5bbe0;
	--sl-color-gray-6: #f0eaff;
	--sl-color-gray-7: #f7f4ff;
	--sl-color-black: #ffffff;
}

:root {
	padding-inline: 1rem;
	--sl-content-gap-y: 2rem;
}

.sl-markdown-content p {
	max-width: 80ch;
}
.hero {
	padding-block: clamp(2.5rem, calc(1rem + 10vmin), 4rem)
}
@media (min-width: 50rem) {
    .hero {
        grid-template-columns: 1fr 1fr;
        img {
            width: 100%;
            height: auto;
        }
    }
}